/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
     height: 100%;
     width: 100%;
 }

 body {
     height: 100%;
     margin: 0px;
 }

 #nav_bar {
     margin: auto;
     height: 40px;
     background-color: rgb(31, 46, 60);
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 25px;
 }
 #welcome {
     padding-top: 50px;
     height: calc(100% - 40px);
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     text-align: center;
     background-image: url("main_back.jpg");
     /* -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover; */
     background-size: cover;
 }
 
 #welcome_image img {
     width: 450px;
     
 }

#nav_bar a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  #nav_bar a:visited {
    text-decoration: none;
    color: white;
  }
  
  /* mouse over link */
  #nav_bar a:hover {
    text-decoration: none;
    color: rgb(99, 99, 99);
  }
  
  /* selected link */
  #nav_bar a:active {
    text-decoration: none;
    color: white;
  }
