
 html {
     height: 100%;
     /* width: 100%; */
 }

 body {
     height: 100%;
     margin: 0px;
 }

 #nav_bar {
     margin: auto;
     padding: 10px;
     padding-top:15px;
     height: 40px;
     background-color: rgb(31, 46, 60);
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
 }
 #welcome {
     padding-top: 50px;
     height: calc(100% - 115px);
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     text-align: center;
     background: url("main_back.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
 }
 
 #welcome_image img {
     width: 450px;
     -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
     
 }

#nav_bar a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  #nav_bar a:visited {
    text-decoration: none;
    color: white;
  }
  
  /* mouse over link */
  #nav_bar a:hover {
    text-decoration: none;
    color: rgb(99, 99, 99);
  }
  
  /* selected link */
  #nav_bar a:active {
    text-decoration: none;
    color: white;
  }




#hall_houses {
  margin-left: auto;
  margin-right: auto;
  height: calc(100% - 165px);
  padding-top: 100px;
  text-align: center;
  background: url("greathall.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  overflow: auto;
  
}


#hall_houses a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* visited link */
#hall_houses a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
#hall_houses a:hover {
  text-decoration: none;
  color: rgb(1, 153, 255);
}

/* selected link */
#hall_houses a:active {
  text-decoration: none;
  color: white;
}
#hall_Gryffindor {
  vertical-align: top;
  width: 200px;
  display: inline-block;
  background-color: rgba(130, 13, 13, .8);
  margin: 20px;
  padding: 20px;
  color: white;
  border: 5px double rgb(255, 229, 79);
  border-radius: 23px;
}

#hall_Slytherin {
  vertical-align: top;
  width: 200px;
  display: inline-block;
  background-color: rgba(23, 116, 42, .8);
  color: white;
  margin: 20px;
  padding: 20px;
  border: 5px double rgb(225, 225, 225);
  border-radius: 23px;
}
#hall_Ravenclaw {
  vertical-align: top;
  width: 200px;
  display: inline-block;
  background-color: rgba(3, 26, 155, .8);
  color: white;
  margin: 20px;
  padding: 20px;
  border: 5px double rgb(160, 209, 255);
  border-radius: 23px;
}
#hall_Hufflepuff {
  vertical-align: top;
  width: 200px;
  display: inline-block;
  background-color: rgba(216, 186, 11, .8);
  color: white;
  margin: 20px;
  padding: 20px;
  border: 5px double rgb(65, 65, 65);
  border-radius: 23px;
}

#hall_Gryffindor img {
  width: 200px;
  margin-top: -70px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#hall_Slytherin img {
  width: 200px;
  margin-top: -70px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#hall_Ravenclaw img {
  width: 200px;
  margin-top: -80px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#hall_Hufflepuff img {
  width: 200px;
  margin-top: -70px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#students_show {
  
  height: calc(100% - 95px);
  padding-top: 30px;
  
  /* text-align: center; */
  background: url("hogwarts_stairs.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  overflow: auto;

}

#student_directory {
  color:white;
  width: 600px;
  margin-left: 50px;
  padding: 5px 10px 20px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
}

#student_directory a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* visited link */
#student_directory a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
#student_directory a:hover {
  text-decoration: none;
  color: rgb(1, 153, 255);
}

/* selected link */
#student_directory a:active {
  text-decoration: none;
  color: white;
}

#professor_show {
  
  height: calc(100% - 95px);
  padding-top: 30px;
  
  /* text-align: center; */
  background: url("classroom.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  overflow: auto;

}

#user_show_page {
  height: calc(100% - 95px);
  padding-top: 30px;
  color: white;
  
  /* text-align: center; */
  background: url("esired.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  overflow: auto;
}
#flex_box {
  display: flex;
  justify-content: flex-start;
  /* flex-direction: row; */
  justify-content: space-between;
}
#left {
  display:flex;
  order: 1;
  
  height: 650px;
}
#right {
  /* color: white;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.536);
  padding-bottom: 200px;
  border: 5px double rgb(42, 66, 126);
  border-radius: 25px;
  border-color: rgba(225, 225, 225, 0.824);
  font-size: 20px;
  overflow: auto;
  width: 300px;
  padding: 20px 10px 10px 10px;
  margin-left: 120px; */
}
#friends {
  color: white;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.536);
  padding-bottom: 200px;
  border: 5px double rgb(42, 66, 126);
  border-radius: 25px;
  border-color: rgba(225, 225, 225, 0.824);
  font-size: 20px;
  height: 600px;
  overflow: auto;
  width: 300px;
  padding: 20px 10px 10px 10px;
  margin-left: 120px;
}
#chat_place_holder {
  color: white;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.536);
  padding-bottom: 200px;
  border: 5px double rgb(42, 66, 126);
  border-radius: 25px;
  border-color: rgba(225, 225, 225, 0.824);
  font-size: 20px;
  overflow: auto;
  width: 300px;
  padding: 20px 10px 10px 10px;
  margin-left: 120px;
}
.profile {
  color: white;
  margin-left: 70px;
  background-color: rgba(0, 0, 0, 0.536);
  padding-bottom: 200px;
  
  /* background: url("parchment.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; */
  border: 5px double rgb(42, 66, 126);
  border-radius: 25px;
  border-color: rgba(225, 225, 225, 0.824);
  font-size: 20px;
  /* overflow: auto; */
}

#profile_house img {
  padding-top: 10px;
    width: 100px;
}

#profile_name h1 {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#profile_name {
  vertical-align: top;
  padding-top: 25px;
  display: inline-block;
}
#profile_house {
  padding-top: 10px;
  padding-right: 50px;
  margin-left: 20px;
  /* width: auto; */
  /* background-image: url("oldpaper.jpg"); */
  
}

.friend_request {
 display: flex;
 flex-flow: row;
 
}
.friend_button {
margin-top: -25px;
}
#user_show_page a:link {
  font-size: 18px;
  text-decoration: none;
  color: rgb(30, 203, 255);
}

/* visited link */
#user_show_page a:visited {
  text-decoration: none;
  color: rgb(30, 203, 255);
}

/* mouse over link */
#user_show_page a:hover {
  text-decoration: none;
  color: rgb(231, 245, 255);
}

/* selected link */
#user_show_page a:active {
  text-decoration: none;
  color: white;
}

#chat_field [type=text] {
  width: 240px;
}
#chat_window {
  height: 500px;
  overflow: auto;
}
.time_message {
  margin: 10px;
  color: rgb(225, 225, 225);
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.left_message {
  margin-right: 5px;
  display: flex;
  justify-content: flex-start;
}
.left_bubble {
  background-color: rgba(65, 147, 235, 0.516);
  padding: 8px;
  display: flex;
  width: 150px;
  justify-content: flex-start;
  border: 1px double rgb(42, 66, 126);
  border-radius: 10px;
  
}
.right_message{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin-right: 5px;
  /* justify-content: flex-start; */
}
.right_bubble {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  background-color: rgba(90, 220, 122, 0.673);
  padding: 8px;
  width: 150px;
  border-radius: 10px;
 
}

#subjects {
  margin-top: -60px;
  
  /* padding-left: 20px; */
  height: 400px;
  overflow: auto;
  
}

#sub_name {
  font-size: 20px;
  
}
div#sub_name a:link {
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* visited link */
#sub_name a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
#sub_name a:hover {
  text-decoration: none;
  color: rgb(1, 153, 255);
}

/* seed link */
#sub_name a:active {
  text-decoration: none;
  color: white;
}


#profsub {
  font-size: 15px;
  margin-bottom: 10px;
}
#profsub a:link {
  font-size: 20px;
  text-decoration: none;
  color: rgb(103, 189, 255);
}

/* visited link */
#profsub a:visited {
  text-decoration: none;
  color: rgb(103, 189, 255);
}

/* mouse over link */
#profsub a:hover {
  text-decoration: none;
  color: rgb(233, 233, 233);
}

/* seed link */
#profsub a:active {
  text-decoration: none;
  color: white;
}


#edit_page {
  height: calc(100% - 95px);
  padding-top: 30px;
  
  text-align: center;
  background: url("polyjuice.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  overflow: auto;
}

#edit_form {
  align-content: center ; 
  width: 500px;
  color: white;
  background-color: rgba(0, 0, 0, 0.44);
  border: 5px double rgb(42, 66, 126);
  border-radius: 25px;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top:50px;
  display: inline-block;
}
#edit_form input {
  /* align: center; */
  width: 200px;
  color: white;
  background-color: rgba(23, 94, 135, 0.44);
  border-radius: 5px;
  font-size: 20px;
  
  
}
#edit_form a:link {
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* visited link */
#edit_form a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
#edit_form a:hover {
  text-decoration: none;
  color: rgb(1, 153, 255);
}

/* selected link */
#edit_form a:active {
  text-decoration: none;
  color: white;
}
#edit_form input[type=submit] {
  
  background-color: rgba(31, 109, 205, 0.899);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#login_page {
  height: calc(100% - 95px);
  padding-top: 30px;
  
  text-align: center;
  background: url("diagon_alley.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  /* overflow: auto; */
}

#sorting_page {
  height: calc(100% - 95px);
  padding-top: 30px;
  
  text-align: center;
  background: url("sorting.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  overflow: auto;
}

#sorting_form {
  text-align: left ; 
  width: 500px;
  color: white;
  background-color: rgba(16, 11, 3, 0.769);
  border-radius: 20px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin:50px 20px 0px 20px;
  
  vertical-align: top;
  display: inline-block;
}

#Gryffindor_show {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 95px);
  padding-top: 30px;
  
  
  background: url("g_common_room.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  overflow: auto;
}

#Gryffindor_house_posts {
  display: flexbox;
  margin-left: 50px;
  justify-content: center;
  background-color: rgba(94, 1, 1, 0.749);
  padding: 20px 10px 20px 10px;
  border: 2px double rgb(255, 229, 79);
  border-radius: 23px;
  overflow: auto;
}

div.Gryffindor_house_info {
  display: flexbox;
  margin-left: 25px;
  width: 250px;
  color:white;
  justify-content: center;
  background-color: rgba(94, 1, 1, 0.749);
  padding: 20px 10px 20px 10px;
  border: 2px double rgb(255, 229, 79);
  border-radius: 23px;
  overflow: auto;

}

#Slytherin_show {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 95px);
  padding-top: 30px;
  
  
  background: url("s_common_room.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  overflow: auto;
}

#Slytherin_house_posts {
  display: flexbox;
  margin-left: 50px;
  justify-content: center;
  background-color: rgba(21, 74, 32, 0.749);
  padding: 20px 10px 20px 10px;
  border: 2px double rgb(210, 210, 210);
  border-radius: 23px;
  overflow: auto;
}

div.Slytherin_house_info {
  display: flexbox;
  margin-left: 25px;
  width: 250px;
  color:white;
  justify-content: center;
  background-color: rgba(21, 74, 32, 0.749);
  padding: 20px 10px 20px 10px;
  border: 2px double rgb(210, 210, 210);
  border-radius: 23px;
  overflow: auto;

}

#Ravenclaw_show {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 95px);
  padding-top: 30px;
  
  
  background: url("r_common_room.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  overflow: auto;
}

#Ravenclaw_house_posts {
  display: flexbox;
  margin-left: 50px;
  justify-content: center;
  background-color: rgba(20, 35, 85, 0.749);
  padding: 20px 10px 20px 10px;
  border: 2px double rgb(145, 225, 254);
  border-radius: 23px;
  overflow: auto;
}

div.Ravenclaw_house_info {
  display: flexbox;
  margin-left: 25px;
  width: 250px;
  color:white;
  justify-content: center;
  background-color: rgba(20, 35, 85, 0.749);
  padding: 20px 10px 20px 10px;
  border: 2px double rgb(145, 225, 254);
  border-radius: 23px;
  overflow: auto;

}

#Hufflepuff_show {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 95px);
  padding-top: 30px;
  
  
  background: url("h_common_room.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  overflow: auto;
}

#Hufflepuff_house_posts {
  display: flexbox;
  margin-left: 50px;
  justify-content: center;
  background-color: rgba(191, 167, 33, 0.749);
  padding: 20px 10px 20px 10px;
  border: 2px double rgba(0, 0, 0, 0.555);
  border-radius: 23px;
  overflow: auto;
}

div.Hufflepuff_house_info {
  display: flexbox;
  margin-left: 25px;
  width: 250px;
  color:white;
  justify-content: center;
  background-color: rgba(191, 167, 33, 0.749);
  padding: 20px 10px 20px 10px;
  border: 2px double rgba(0, 0, 0, 0.555);
  border-radius: 23px;
  overflow: auto;

}
#submit_post{
  color:white;
  width: 550px;
}
div.submit_post {
  display: flex;
  justify-content: flex-end;
}
div.posts {
  margin: 10px 0px 10px 0px;
  /* padding: 10px 10px 10px 10px; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
div.individual_post {
  margin: 10px 0px 20px 0px;
  padding: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.543);
  border-radius: 10px;
}

div.post_content {
  background-color: rgba(96, 96, 96, 0.392);
  margin: 5px 0px 5px 0px;
  padding: 10px 10px;
  font-size: 25px;
  width:525px;
  border-radius: 10px;
}

div.post_like {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
    
}

div.post_like input[type=submit] {
  background-color: rgb(100, 148, 203);
  color: white;
  border-radius: 6px;
}

div.house_info a:link {
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* visited link */
div.house_info a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
div.house_info a:hover {
  text-decoration: none;
  color: rgb(1, 153, 255);
}

/* selected link */
div.house_info a:active {
  text-decoration: none;
  color: white;
}

div.comments {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

div.comments input[type=text] {
  color:white;
  font-size: 18px;
  border: none;
  width: 420px;
  height: 20px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.303);
}

div.each_comment {
  
  background-color: rgba(96, 96, 96, 0.392);
  margin: 5px 0px 5px 0px;
  padding: 10px 10px;
  font-size: 15px;
  width:520px;
  border-radius: 10px;
}

div.house_logo img {
  /* margin-top: 200px; */
  margin: 0px 0px 0px 40px;
  width: 175px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

div.subject_page {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 95px);
  padding-top: 30px;
  
  
  background: url("subject1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  overflow: auto;
}

#subject_style {
  color:white;
  width: 600px;
  margin-left: 50px;
  padding: 5px 10px 20px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
}

#subject_style a:link {
  text-decoration: none;
  color: rgb(89, 174, 249);
}

/* visited link */
#subject_style a:visited {
  text-decoration: none;
  color: rgb(89, 174, 249);
}

/* mouse over link */
#subject_style a:hover {
  text-decoration: none;
  color: rgb(123, 123, 123);
}

/* selected link */
#subject_style a:active {
  text-decoration: none;
  color: white;
}

.error {
  color: red;
}

.new_course {
  font-size: 20px;
}

.new_course [type=text]{
  width: 250px;
}

div.subject_new {
  display: flex;
  justify-content: flex-start;
  height: calc(100% - 95px);
  padding-top: 30px;
  
  
  background: url("sub2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  overflow: auto;
}

#subject_new {
  color:white;
  width: 600px;
  margin-left: 50px;
  padding: 5px 10px 20px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  height: 200px;
}