/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
     height: 100%;
     width: 100%;
 }

 body {
     height: 100%;
     margin: 0px;
 }

 #nav_bar {
     margin: auto;
     padding: 10px;
     padding-top:15px;
     height: 40px;
     background-color: rgb(31, 46, 60);
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
 }
 #welcome {
     padding-top: 50px;
     height: calc(100% - 115px);
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     text-align: center;
     background: url("main_back.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
 }
 
 #welcome_image img {
     width: 450px;
     -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
     
 }

#nav_bar a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  #nav_bar a:visited {
    text-decoration: none;
    color: white;
  }
  
  /* mouse over link */
  #nav_bar a:hover {
    text-decoration: none;
    color: rgb(99, 99, 99);
  }
  
  /* selected link */
  #nav_bar a:active {
    text-decoration: none;
    color: white;
  }




#hall_houses {
  margin-left: auto;
  margin-right: auto;
  height: calc(100% - 165px);
  padding-top: 100px;
  text-align: center;
  background: url("greathall.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  overflow: auto;
  
}


#hall_houses a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* visited link */
#hall_houses a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
#hall_houses a:hover {
  text-decoration: none;
  color: rgb(1, 153, 255);
}

/* selected link */
#hall_houses a:active {
  text-decoration: none;
  color: white;
}
#hall_Gryffindor {
  vertical-align: top;
  width: 200px;
  display: inline-block;
  background-color: rgba(130, 13, 13, .8);
  margin: 20px;
  padding: 20px;
  color: white;
  border: 5px double rgb(255, 229, 79);
  border-radius: 23px;
}

#hall_Slytherin {
  vertical-align: top;
  width: 200px;
  display: inline-block;
  background-color: rgba(23, 116, 42, .8);
  color: white;
  margin: 20px;
  padding: 20px;
  border: 5px double rgb(225, 225, 225);
  border-radius: 23px;
}
#hall_Ravenclaw {
  vertical-align: top;
  width: 200px;
  display: inline-block;
  background-color: rgba(3, 26, 155, .8);
  color: white;
  margin: 20px;
  padding: 20px;
  border: 5px double rgb(160, 209, 255);
  border-radius: 23px;
}
#hall_Hufflepuff {
  vertical-align: top;
  width: 200px;
  display: inline-block;
  background-color: rgba(216, 186, 11, .8);
  color: white;
  margin: 20px;
  padding: 20px;
  border: 5px double rgb(65, 65, 65);
  border-radius: 23px;
}

#hall_Gryffindor img {
  width: 200px;
  margin-top: -70px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#hall_Slytherin img {
  width: 200px;
  margin-top: -70px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#hall_Ravenclaw img {
  width: 200px;
  margin-top: -80px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#hall_Hufflepuff img {
  width: 200px;
  margin-top: -70px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#students_show {
  
  height: calc(100% - 95px);
  padding-top: 30px;
  
  /* text-align: center; */
  background: url("hogwarts_stairs.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  overflow: auto;

}

#student_directory {
  color:white;
  width: 600px;
  margin-left: 50px;
  padding: 5px 10px 20px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
}

#student_directory a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* visited link */
#student_directory a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
#student_directory a:hover {
  text-decoration: none;
  color: rgb(1, 153, 255);
}

/* selected link */
#student_directory a:active {
  text-decoration: none;
  color: white;
}

#professor_show {
  
  height: calc(100% - 95px);
  padding-top: 30px;
  
  /* text-align: center; */
  background: url("classroom.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  overflow: auto;

}

#user_show_page {
  height: calc(100% - 95px);
  padding-top: 30px;
  
  /* text-align: center; */
  background: url("esired.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  font-size: 20px;
  overflow: auto;


}
#profile {
  height: 1000px;
  
  background: url("parchment.png") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
 
  font-size: 20px;
  overflow: auto;
}

#profile_house img {
  padding-top: 10px;
    width: 100px;
}

#profile_name h1 {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
#profile_name {
  vertical-align: top;
  padding-top:25px;
  display: inline-block;
}
#profile_house {
  padding-top: 120px;
  margin-left: 30px;
  /* width: auto; */
  /* background-image: url("oldpaper.jpg"); */
  
}

#subjects {
  margin-top: -60px;
  padding-left: 50px;
}